$blue: #4e18ff;
$facbookblue: #006BBC;
$background: #252525;
$darkgrey: #323232;
$green: #44d7b6;
$lightgrey: #4e4e4e;
$white: #ffffff;
$red: #e02020;
$lightred: #ff5f5f;
$gradiant: linear-gradient(to left, #ff5f5f 3%, #ffee00 49%, #44d7b6 96%);
$boxshadowprams: 0 2px 10px 0 rgba(0,0,0,0.50);
$font: 'Ubuntu', sans-serif;

.fbcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .Fbook{
        background: $facbookblue;
        height: 5vh;
        width: 80vw;
        padding: 2%;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $white;
        h1{
            // margin-right: 20%;
            color: $white;
            font-family: $font;
            font-weight: 600;
        }
        .icon{
            margin: 0 15% 0 5%;
        }
        &:hover{
            cursor: pointer;
            opacity: 50%;
        }
    }
}
.Loginpage{
    background: $blue;
    height: 100vh;
    width: 100VW;
    display: flex;
    flex-direction: column;

    align-items: center;
    .logocontaner{
        height: 30vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: chartreuse;
        .logo{
            max-width: 35%;
            // max-height: 30%;

        }
    }
    .facebookbtn{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
  
    }
    .line{
        margin-top: 5%;
        margin-bottom: 5%;
        height: 4px;
        width: 85%;
        background: $white;
        border-radius: 16px;

    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        input{
            width: 65vw;
            background: $white;
            margin: 5% 0 1% 0;
            padding: 4% 10% ;
            border-radius: 10px;
            font-family: $font;
            font-weight: bold;
            font-size: 1em;
            border-style: none;  
            color: $background;
        }
        button{
            width: 85vw;
            background: $white;
            margin: 5% 0 5% 0;
            padding: 4% 10% ;
            border-radius: 10px;
            font-family: $font;
            font-size: 1em;
            border-style: none;  
            color: $blue;
            font-weight: bolder;
        }
    }
    .linkctn{
        width:  100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            font-family: $font;
            color: $white;
            margin-right: 5%;
        }
        .links{
            font-family: $font;
            color: $white;
            text-decoration-line: underline;
            &hover{
                cursor: pointer;
            }
        }
    }
    .forgot{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-family: $font;
            color: $white;
        }
    }
}
.uploadimage{
    background: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    .input{
        background-color: $blue;
        border: none;
        border-bottom: 2px solid white;
        color: $white;
        font-family: $font;
        margin-top: 5%;
        font-size: 1.4em;
        padding-bottom: 2%;

    }
    .imageDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 5px solid $white;
        overflow: hidden;
        img{
            height: 100%;
            width: auto;
            border-radius: 50%;
        }
    }
    .iconDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(195, 195, 195);
        color: $white;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 5px solid $white;
        p{
            font-family: $font;
            font-weight: bold;
            
        }
    
    }
}
