.fbcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fbcontainer .Fbook {
  background: #006BBC;
  height: 5vh;
  width: 80vw;
  padding: 2%;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
}

.fbcontainer .Fbook h1 {
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.fbcontainer .Fbook .icon {
  margin: 0 15% 0 5%;
}

.fbcontainer .Fbook:hover {
  cursor: pointer;
  opacity: 50%;
}

.Loginpage {
  background: #4e18ff;
  height: 100vh;
  width: 100VW;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Loginpage .logocontaner {
  height: 30vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Loginpage .logocontaner .logo {
  max-width: 35%;
}

.Loginpage .facebookbtn {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Loginpage .line {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 4px;
  width: 85%;
  background: #ffffff;
  border-radius: 16px;
}

.Loginpage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.Loginpage form input {
  width: 65vw;
  background: #ffffff;
  margin: 5% 0 1% 0;
  padding: 4% 10%;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-style: none;
  color: #252525;
}

.Loginpage form button {
  width: 85vw;
  background: #ffffff;
  margin: 5% 0 5% 0;
  padding: 4% 10%;
  border-radius: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  border-style: none;
  color: #4e18ff;
  font-weight: bolder;
}

.Loginpage .linkctn {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Loginpage .linkctn .title {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  margin-right: 5%;
}

.Loginpage .linkctn .links {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.Loginpage .linkctn .linkshover {
  cursor: pointer;
}

.Loginpage .forgot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Loginpage .forgot h1 {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */