$blue: #4e18ff;
$facbookblue: #006BBC;
$background: #252525;
$darkgrey: #323232;
$green: #44d7b6;
$lightgrey: #4e4e4e;
$white: #ffffff;
$red: #e02020;
$lightred: #ff5f5f;
$gradiant: linear-gradient(to left, #ff5f5f 3%, #ffee00 49%, #44d7b6 96%);
$boxshadowprams: 0 2px 10px 0 rgba(0,0,0,0.50);
$font: 'Ubuntu', sans-serif;

.Fbook{
    background: $facbookblue;
    height: 3vh;
    width: 80vw;
    padding: 2%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $boxshadowprams;
    border: 1px solid $white;
    h1{
        margin-right: 20%;
        color: $white;
        font-family: $font;
    }
    .icon{
        margin: 0 20% 0 5%;
    }
    &:hover{
        cursor: pointer;
        opacity: 50%;
    }
}
.Loginpage{
    background: $blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    align-items: center;
    .logocontaner{
        height: 35vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: chartreuse;
        .logo{
            max-width: 50%;
            max-height: 50%;

        }
    }
    .facebookbtn{
        width: 100%;
        height: 10vh;

        display: flex;
        justify-content: center;
        align-items: center;
  
    }
    .line{
        margin-top: 5%;
        margin-bottom: 5%;
        height: 5px;
        width: 85%;
        background: $white;
        border-radius: 16px;

    }
    form{
        display: flex;
        flex-direction: column;
        input{
            background: $white;
            margin: 5% 0 5% 0;
            padding: 5% 10% ;
            border-radius: 10px;
            font-family: $font;
            font-size: 1em;
            box-shadow: $boxshadowprams;
            color: $background;
        }
        button{
            
        }
    }
}